<div class='container'>
    <div class='welcome-container'>
        <h1 class='welcomer'>Welcome to MangaRocks</h1>
        <%= link_to 'View all Manga', mangas_path, :class =>'link-all' %>
    </div>
</div>

<footer id='footer'>
<p>Copyright &copy; JCsalasdev</p>
</footer>